body {
  padding-top: 65px;
  padding-bottom: 40px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 1000%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .6;
    z-index: 1;
}

.table-header {
  background-color: #F5F5F5;
}

.table thead td:hover, .table thead th:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #D9EDF7;
}

.center {
    vertical-align: middle;
}

#startDate {
  max-width: 110px;
}

#endDate {
  max-width: 110px;
}

.nav-match {
  font-size: 14px;
  color: #999999;
  /*padding-top: 12px;*/
  /*border-top: 1px #dddddd solid;*/
}

.checkbox {
    margin: 10px 0 0 0;
}

.cb-header {
  font-size: 14px;
  font-weight: bold;
  padding-top: 12px;
  border-top: 1px #dddddd solid;
}

.cb-item {
  font-size: 13px;
  padding-left: 40px;
}